.jp-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: -10px;
}
.jp-icon-projects {
    background-image: url("/img/icons/projects.png");
}
.jp-icon-competitions {
    background-image: url("/img/icons/competitions.png");
}
.jp-icon-events {
    background-image: url("/img/icons/events.png");
}
.jp-icon-international-relationship {
    background-image: url("/img/icons/international-relationship.png");
}
