@mixin before-overlay {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
}

@mixin custom-link($color: #000) {
    color: $color;
    &:hover {
        color: $primary;
    }
}
