.product-one {
    max-width: 328px;
    margin: 0 auto 2rem;
    &.product-one-medium {
        max-width: 447px;
        .product-one-img {
            margin-bottom: 1.125rem;
        }
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 3.5rem;
    }
}
.product-one-img {
    margin-bottom: 0.75rem;
}
.product-one-content {}
.product-one-title {
    font-size: 1.25rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 0.1875rem;
    a {
        @include custom-link(#000);
    }
    @include media-breakpoint-up(md) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.product-one-price {
    .old-price {
        font-size: 1.25rem;
        text-decoration: line-through;
        color: #666;
    }
    .current-price {
        color: #000;
        font-weight: 700;
        font-size: 1.25rem;
        &.special-price {
            color: #e7514a;
        }
    }
}

.product-header {
    font-size: 1.875rem;
    margin-bottom: 0.375rem;
    @include media-breakpoint-up(lg) {
        font-weight: 700;
        font-size: 2.25rem;
        margin-top: 1.5rem;
    }
}
.product-page-price {
    margin-top: 1rem;
    .old-price {
        font-size: 1.25rem;
        text-decoration: line-through;
        color: #666;
    }
    .current-price {
        color: #000;
        font-weight: 700;
        font-size: 1.75rem;
        &.special-price {
            color: #e7514a;
        }
    }
}

.product-page-box {
    margin-top: 1.75rem;
    padding-top: 1.75rem;
    border-top: 1px solid #E5E5E5;
}

.specifications-table {
    td {
        padding: 7px;
        &:first-child {
            padding-right: 0;
            padding-left: 0;
            position: relative;
            span {
                display: inline-block;
                padding-right: 10px;
                background-color: #fff;
                position: relative;
            }
            &::before {
                content: '';
                display: block;
                right: 0;
                bottom: 16px;
                border-bottom: 1px dotted #CCCCCC;
                width: 100%;
                position: absolute;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
    }
}

.product-variant-attributes-row {
    .product-variant-attribute-value {
        cursor: pointer;
    }
    &.product-variant-attributes-row-buttons {
        .product-variant-attribute-value {
            .btn-outline-light {
                color: #333;
                border-color: #DEDEDE;
            }
            &.disabled {
                .btn-outline-light {
                    color: #bfbfbf;
                    background-color: #F6F6F6;
                    border-color: #F6F6F6;
                }
            }
            &.active {
                .btn-outline-light {
                    color: #fff;
                    background-color: #000;
                    border-color: #000;
                }
            }
        }
    }
    &.product-variant-attributes-row-colors {
        .product-variant-attribute-value {
            .color-button {
                margin-right: 4px;
                margin-bottom: 4px;
            }
            &.disabled {
                .color-button {
                    opacity: 0.1;
                }
            }
            &.active {
                .color-button {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.product-variant-attributes-row-list {
        .product-variant-attribute-value {
            &.disabled {
                color: #ccc;
            }
            &.active {
                color: $primary;
            }
        }
    }
}
