.m-0 {
	margin: 0 !important;
}
.m-5 {
	margin: 5px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.text-semibold {
    font-weight: 600;
}
.text-bold {
    font-weight: 700;
}
.cursor-pointer {
    cursor: pointer;
}
